html, body{
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: large;
}
.banner{ 
  position: relative; 
  width: 100%;

}
.banner img{
  width: 100%;
  
}
.banner h5{
  position: absolute;
  color: #fff;
  text-transform: uppercase;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 0 2px 20px #000;
  font-size: 70px;
}
.content{
  background: #fff;
  color: #000;
  height: 20px;
  padding-top: 130px;
  position: relative;
  
  

}


.content::before{
  position: absolute;
  content:'';
  width: 60%;
  height: 130px;
  top: -50px;
  left: 0;
  background: #fff;
  transform: skewY(6deg);
}
.content::after{
  position: absolute;
  content:'';
  width: 60%;
  height: 130px;
  top: -50px;
  right: 0;
  background: #fff;
  transform: skewY(-6deg);
}

.navbar{
    background: linear-gradient(to right, #f2f2f2, #fbfbfb);
    font-size: 1.1rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
}
.navbar h4{
  margin-left: 100px;
}

.nav-item{
    padding: .4rem;
    display: block!important;

}
.navbar-brand h4{
  text-transform: uppercase;
  

}

.navbar-brand h4:hover{
  font-style: italic;
  animation: text 1s 1;

}
nav-item ul{
  top:50px;
}



.form-group{
    transform: translateY(-20%);
    
}
.footer{
  background-color:rgb(44, 44, 56)!important;
  position: relative;

}

.about-h3{
  font-size: 5rem;
  text-transform: uppercase;
}
.anchor {
  text-align: center;
}


.about-p{
  font-size: 1.2rem;
}
.header h3{
  font-size: 2rem;
  text-transform: uppercase;
}

#jumbotron{
	background-image: url('../image/kellen-riggin-bBGpZ63zNi0-unsplash.jpg');
	background-attachment: fixed;
	background-position: center;
  background-size: cover;
  border-radius: 23px;

  }
  #footer{
	font-size: 1.1rem;
	text-transform: uppercase;
	letter-spacing: .1rem;
  }
  #footer ul li{
	list-style: none;
  display: inline;
  letter-spacing: 2rem;
  font-size: 1.1rem;

  }
  #about-p{
    font-size: 1.2rem;
  }
@keyframes text{
  0%{
    color: black;
    
  }
  30%{
    letter-spacing: 1px;
    font-style: italic;
  }
  85%{
    letter-spacing: 1px;
    font-style: italic;

  }

}
@media (max-width:768px){
    .navbar h4{
      margin-left: 20px;
    }
    .banner h5{
      font-size: 45px;
    }
  .navbar-nav{
      align-items: flex-end;
  }
}
